<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitSharp" version="0.3" targetFramework="net40" />
  <package id="MarkdownDeep.Full" version="1.5" targetFramework="net40" />
  <package id="MarkdownDeep.Full.Sample" version="1.5" targetFramework="net40" />
  <package id="MarkdownDeep.NET" version="1.5" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="NLog" version="2.0.0.2000" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="Tamir.SharpSSH" version="1.1.1.13" targetFramework="net40" />
  <package id="Winterdom.IO.FileMap" version="2.0.2.0" targetFramework="net40" />
</packages>